body {
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
  color: white;
}

.ulDiv {
  display: flex;
  justify-content: center;
}

.my-list {
  color: white;
}

.buttoncontainer {
  display: flex;
}

.button {
  margin: auto;
}
